Docker* @atournayre
docker* @atournayre
.env* @atournayre
.git* @atournayre
package* @atournayre
*.lock @atournayre
composer.* @atournayre
fixtures/ @atournayre
tests/ @atournayre
phpunit.xml.dist @atournayre
tools/ @atournayre
deploy/ @atournayre
docs/ @atournayre
*.md @atournayre
.github/workflows/ @atournayre
migrations/* @atournayre
*.js @atournayre
*.css @atournayre
assets/ @atournayre
templates/ @atournayre
*.twig @atournayre
*.jpg @atournayre
*.png @atournayre
*.svg @atournayre
*.gif @atournayre
*.ico @atournayre
*.webp @atournayre
webpack.config.js @atournayre
*.php @atournayre